# Dependency directories
node_modules/
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Environment variables and secrets
.env
.env.*
*.log

# Database
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Build and Dist
dist/
build/
out/
